<h1>Confirm your account</h1>
<p>
  Welcome to our site! Click the link below to confirm your account:
</p>
<p>
<%= link_to 'Confirm my account', confirm_user_url(token: @user.confirmation_token) %>
</p>
