<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Matthew Bootland CV</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <!-- Add this line for Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <%
    programming_start_date = DateTime.new(2015, 6)
    move_to_japan_start_date = DateTime.new(2016, 9)
    current_date = DateTime.now

    years_programming = current_date.year - programming_start_date.year - 2
    years_in_japan = current_date.year - move_to_japan_start_date.year
  %>

  <div class="container my-5">

    <header class="text-center mb-5">
      <h1>Matthew Bootland</h1>
      <p class="lead">
        Software Engineer
        <br>
        <a href="https://github.com/mbootland">github.com/mbootland</a>
      </p>
    </header>

    <b>NOTE:</b>
    This website is developed in Ruby on Rails, you can see the codebase here: <a href="https://github.com/mbootland/bootsoft">github.com/mbootland/bootsoft</a>
    <br>
    <br>

    <section class="skills mb-5">
      <h2>Skills</h2>
      <div class="skills-container">
        <div class="column">
          <ul class="no-bullets">
            <li>Ruby on Rails</li>
            <li>GoLang</li>
            <li>JavaScript</li>
          </ul>
        </div>
        <div class="column">
          <ul class="no-bullets">
            <li>React Native</li>
            <li>TypeScript</li>
            <li>GraphQL / REST</li>
          </ul>
        </div>
        <div class="column">
          <ul class="no-bullets">
            <li>DevOps</li>
            <li>Docker</li>
            <li>Kubernetes</li>
          </ul>
        </div>
      </div>
    </section>

    <section class="about-me mb-5">
      <h2>About Me</h2>
      <p>
        I have lived in Japan for <%= years_in_japan %> years and I have roughly <%= years_programming %> years of experience as a programmer, working with primarily Ruby on Rails/SQL.
      </p>
    </section>

    <section class="experience mb-5">
      <h2>Experience</h2>

      <div>
        <h4>PlayerData, Sapporo (Remote)</h4>
        <p>
          <b>
            Senior Software Engineer, Product Engineering team
            <br>
            Feb 2024 - current
          </b>
        </p>

        <p>
          PlayerData is a sports data company that provides data and analytics services to sports organizations and teams.
        </p>

        <p>
          I am on the product engineering team and I mainly work on the main Rails application.
        </p>

        <p>
          <b>
            Tech: Ruby on Rails, PostgreSQL, GraphQL, TypeScript, React Native
          </b>
        <p>
      </div>

      <div>
        <h4>Rakuten, Sapporo (Office)</h4>
        <p>
          <b>
            Senior Software Engineer, DevOps team (Contract)
            <br>
            Jun 2023 - Feb 2024
          </b>
        </p>

        <p>
          Rakuten is Japan’s largest e-commerce company and the 3rd largest e-commerce company worldwide. 
          They also sponsor the football team FC Barcelona. I work in the Cloud Marketing Platform Department (MCPD) and largely work on 2 applications; a lottery service and a questionnaire service.
        </p>

        <p>
          Upon joining Rakuten I completed mandatory training in Linux/Infra and Kubernetes. I completed this faster than any other developer in my department completing all onboarding with 2 months, 
          with the average being 6~9 or so. My main focus has been working on the questionnaire platform which collects 5-8 million questionnaire responses per year.
        </p>

        <p>
          <b>
            Tech: Ruby on Rails, GoLang, Docker, Kubernetes, Microservices, Cloud, Azure, PaaS, IaaS, CaaS.
          </b>
        <p>
      </div>

      <div>
        <h4>Various, Japan (remote)</h4>
        <p>
          <b>
            Technical Consultant
            <br>
            May 2021 - Jun 2023
          </b>
        </p>

        <p>
          For two years I worked as a technical consultant in the recruitment industry. As this experience is largely irrelevant to programming, please skip my relevant experience below.
        </p>
      </div>

      <div>
        <h4>GMO GlobalSign, Tokyo (Office & Remote)</h4>
        <p>
          <b>
            Senior Software Engineer, IDaaS team
            <br>
            Sep 2016 – May 2021
          </b>
        </p>

        <p>
          GMO GlobalSign is a security company whose main business is selling electronic certificates. My job was to develop TrustLogin, their Single Sign-On (SSO) service. 
          I began as a mid level software engineer with only 1 year experience and quickly rose to being evaluated as the most senior member on the team. 
          At the time of leaving the company roughly 40% of the codebase was written by me. 
        </p>

        <p>
          <b>Tech summary: Ruby on Rails, GoLang, JavaScript, Docker, AWS, SQL, MongoDB</b    >
        </p>
      </div>

      <div>
        <h4>Comms365, Milton Keynes, UK </h4>
        <p>
          <b>
            Software Engineer
            <br>
            Jun 2015 – Jul 2016
          </b>
        </p>

        <p>
          <p>
            Comms365 is an ISP.  They provide fall back internet connections to companies using a device which bonds multiple 3G/4G connections together, 
            essentially creating a high speed portable internet terminal.
          </p>

          <p>
            I co-developed an Internet Communications Portal which allowed clients to track their own data usage and incoming charges. 
            It was also used to create and assign SIM cards to companies. Data usage was entered into a sharded Mongo database and then map reduced into hourly, daily and monthly data. 
            Naturally the rest of the data was relational and used an SQL database. I also developed a stock system and a log processor service.
          </p>

          <p>
            <b>Tech summary: Ruby on Rails, JavaScript, SQL, MongoDB</b>
          </p>
        </p>
      </div>  
    </section>
    <section class="education mb-5">
      <h2>Education</h2>
      <div>

        <h4>The University of Bradford - MSc Computing</h4> 
        Modules: Software Development, Databases, Computer Architecture & Systems, Advanced Software Engineering, etc
        <br>
        Sep2013 - Jul2016

        <br>
        <br>

        <h4>The University of Sheffield - BA East Asian Studies</h4> 
        Sep 2008 - Jul 2012
      </div>
    </section>
  </div>
</body>
</html>
